// You can add CSS rules here that will be inlined into each document.
@media (min-width : 1010px) {
	#_navbar{
		display: none;
	}
}
@media (max-width : 1009px) {
	img.nav-span {
		content:url(https://polypheny.org/assets/logo-header.png);
	}
}
hr.dingbat {
    display: none;
}