// You can add CSS rules here that will be inlined into each document.
@media (min-width : 1010px) {
	#_navbar{
		display: none;
	}
	.content {
	    padding-top: 5rem;
	}
}
@media (max-width : 1009px) {
	div.nav-span {
		content:url(https://polypheny.org/assets/logo-header.png);
	}
}
hr.dingbat {
    display: none;
}
h1, h2, h3, .h1, .h2, .h3 {
    margin-top: 3rem;
}